# Custom functions

function download () {
    cd ~/Downloads && { curl -O -C - "$1" ; cd -; }
}

function gi() { curl -fL https://www.gitignore.io/api/${(j:,:)@} }

function change-version() {
    tmp=$(mktemp)
    jq --arg VERSION "$1" '.version = $VERSION' package.json > "$tmp" && mv "$tmp" package.json
}

function listening() {
  lsof -i -n -P | grep --color=auto \
  --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox} TCP | \
  grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox} LISTEN
}

function extract() {
  if [ -f "$1" ] ; then
    case "$1" in
      *.tar.bz2) tar xjf "$1" ;;
      *.tar.gz) tar xzf "$1" ;;
      *.bz2) bunzip2 "$1" ;;
      *.rar) unrar x "$1" ;;
      *.gz) gunzip "$1" ;;
      *.tar) tar xf "$1" ;;
      *.tbz2) tar xjf "$1" ;;
      *.tgz) tar xzf "$1" ;;
      *.zip) unzip "$1" ;;
      *.Z) uncompress "$1";;
      *.7z) 7z x "$1" ;;
      *) echo "'$1' cannot be extracted via extract()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

# CheatSheet
cht() { curl cht.sh/$1 }

# PROJECTS
cdd() {
  if [ -n "$1" ]
    then
      cd ~/code/$1
    else
      cd ~/code
  fi
}

mg () { mkdir "$@" && cd "$@" || exit; }
npm-latest() { npm info "$1" | grep latest; }
weather() { curl "http://wttr.in/$1\?lang\=es"; }
function qr { curl qrcode.show/$@; }

# Filebot
function fbmovie { filebot -rename -r ./$@ --file-filter f.video --db TheMovieDB --format {ny}/{ny}{' CD'+pi}{subt} --output /Volumes/Movies; }
function fbserie { filebot -rename -r ./$@ --file-filter f.video --db TheTVDB --format "{n}/{'Season '+s}/{s00e00} - {t}" --output /Volumes/Series; }


### Functions for setting and getting environment variables from the OSX keychain ###
### Adapted from https://www.netmeister.org/blog/keychain-passwords.html ###

# Use: keychain-environment-variable SECRET_ENV_VAR
function keychain-environment-variable () {
    security find-generic-password -w -a ${USER} -D "environment variable" -s "${1}"
}

# Use: set-keychain-environment-variable SECRET_ENV_VAR
#   provide: super_secret_key_abc123
function set-keychain-environment-variable () {
    [ -n "$1" ] || print "Missing environment variable name"

    # Note: if using bash, use `-p` to indicate a prompt string, rather than the leading `?`
    read -s "?Enter Value for ${1}: " secret

    ( [ -n "$1" ] && [ -n "$secret" ] ) || return 1
    security add-generic-password -U -a ${USER} -D "environment variable" -s "${1}" -w "${secret}"
}

### Update ZSH theme
function zsh-update-theme () {
    git -C $ZSH_CUSTOM/themes/$ZSH_THEME fetch -p
    git -C $ZSH_CUSTOM/themes/$ZSH_THEME pull
}
