[includeIf "gitdir:~/desarrollo/"]
    path = ~/.gitconfig_work
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = code code --wait --diff $MERGED
	trustExitCode = true
[commit]
	template = ~/.git_commit_template
[alias]
    news = log -p HEAD@{1}..HEAD@{0}
	ahead-of-master = log --oneline origin/master..HEAD
	roots = log --all --oneline --decorate --max-parents=0
	unpushed = log @{u}..
	wip = rebase -i @{u}
	co = checkout
	st = status
	br = branch
	trash = checkout -f
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	diff = auto
	status = auto
	branch = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[apply]
	whitespace = nowarn
[push]
	default = simple

[http]
	sslVerify = true
