# https://www.justinjoyce.dev/git-tips-and-tricks/
[includeIf "gitdir:~/code/"]
  path = ~/dotfiles/.gitconfig_work
[core]
	excludesfile = ~/.gitignore_global
	editor = /opt/homebrew/bin/nvim
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[commit]
	template = ~/.git_commit_template
[alias]
  news = log -p HEAD@{1}..HEAD@{0}
	ahead-of-master = log --oneline origin/master..HEAD
	roots = log --all --oneline --decorate --max-parents=0
	unpushed = log @{u}..
	wip = rebase -i @{u}
	changelog = log origin..HEAD --format='* %s%n%w(,4,4)%+b'
	amend = commit --amend --no-edit
	fixup = commit --amend --no-edit --allow-empty "$@"
	feature = checkout -b feature/"$@"
	hotfix = checkout -b hotfix/"$@"
	release = checkout -b release/"$@"
	dev = checkout develop
	main = checkout master
	cm = commit -m
	co = checkout
	st = status
	br = branch
	feap = fetch --all --prune
  rc = rebase --continue
  ri = rebase -i --autostash
	unstage = reset HEAD
	trash = checkout -f
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	# git archive --format zip --output <output_path> <branch>
	export = archive --format zip --output
	enforce = push --force-with-lease
	refresh = pull --rebase --autostash origin HEAD
	cleanup-merged = "!f(){ git fetch && git branch --merged | grep -v '* ' | xargs git branch --delete; };f"
	# Useful aliases: https://www.lazy-electron.com/2021/07/29/git-aliases.html
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	diff = auto
	status = auto
	branch = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[apply]
	whitespace = nowarn
[branch]
  autosetuprebase = always
[push]
  default = current
[fetch]
  prune = true
[http]
	sslVerify = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[gpg]
	program = /opt/homebrew/bin/gpg
